= form_for @painting do |f|
  -if @painting.errors.any?
    #error_explanation
      %h2= "#{pluralize(@painting.errors.count, "error")} prohibited this painting from being saved:"
      %ul
        - @painting.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
